body{
	width: 100%;
	height: 100%;
}
#title{ 
	color:black; 
	font-family:"微软雅黑"; 
	font-size: 40pt; 
	letter-spacing: 1pt; 
	font-weight:bold;  
	text-align: center; 
	vertical-align: middle; 
}
	
#title_Div{
	width: 100%;
	height:6.25rem;
}

#Navigation{
	list-style: none;
	text-align: center;
	display:block;	
}
@media(max-width:62.5rem)  {
	#Navigation{
		display: none;
	}
}

#Navigation li{
	display:inline;
	margin: 1.25rem;
	
}
